.fade-in {
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    animation: fade-in 1s linear;
    -webkit-animation: fade-in 1s linear;
    &--3s {
        @include keyframes(fade-in-3s) {
            0%,
            85% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        -webkit-animation: fade-in-3s 3s linear;
        animation: fade-in-3s 3s linear;
    }
}

.slide-in {
    overflow: hidden;
    &--from-bottom {
        @include keyframes(bottom-to-top) {
            0%,
            85% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
            }
            100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
        .slide-in__element {
            -webkit-animation: bottom-to-top 1s ease-in-out;
            animation: bottom-to-top 1s ease-in-out;
        }
    }
    .slide-in__element {
        display: block;
        &--2s {
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
    }
}

.stack-animation {
    position: relative;
    width: 300px;
    &__column {
        float: left;
        padding: 0 5px 0 0;
        position: relative;
        width: 50%;
    }
    &__box {
        border: solid 1px;
        // border-color: $light-blue;
        // background: $light-blue;
        border-color: $green;
        background: whitesmoke;
        border-radius: 5px;
        height: 50px;
        margin-bottom: 5px;
        width: 100%;
        &--clear {
            background: none;
            border-color: transparent;
        }
    }
}

.stack-animation__business {
    $height: 200;
    .stack-animation__box {
        bottom: -40px;
        float: left;
        margin-right: 10px;
        position: absolute;
        width: 40px;
        &:nth-child(1) {
            left: 0;
            height: #{$height / 2}px;
        }
        &:nth-child(2) {
            left: 50px;
            height: #{$height * 2/3}px;
        }
        &:nth-child(3) {
            left: 100px;
            height: #{$height}px;
        }
        &:nth-child(4) {
            left: 150px;
            height: #{$height * 2/3}px;
        }
        &:nth-child(5) {
            left: 200px;
            height: #{$height * 5/6}px;
        }
        &:nth-child(6) {
            left: 250px;
            height: #{$height * 3/4}px;
        }
        &:nth-child(7) {
            left: 300px;
            height: #{$height}px;
        }
    }
}

.stack-animation__subscriptions {
    .stack-animation__box {
        &:nth-child(2) {
            left: auto;
            right: 0;
        }
    }
}
