@font-face {
    font-family: 'Boing';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/boing/Boing_SemiboldWEB.eot');
    src: url('/fonts/boing/Boing_SemiboldWEB.eot?#iefix') format('embedded-opentype'), url('/fonts/boing/Boing_SemiboldWEB.woff') format('woff'), url('/fonts/boing/Boing_SemiboldWEB.ttf') format('truetype'), url('/fonts/boing/Boing_SemiboldWEB.svg#proxima_nova_rgregular') format('svg');
}