.hero-section {
    background: $dark-blue;
    height: 700px;
    position: relative;
    &__content {
        bottom: 25%;
        color: white;
        float: left;
        left: 0;
        margin: 0 auto;
        max-width: 90%;
        position: absolute;
        right: 0;
        text-align: center;
        width: 580px;
    }
    &__background {}
    &__primary-title {
        font-family: $bold-font;
        font-size: 4.5rem;
        margin: 0;
    }
    &__secondary-title {
        font-size: 2.2rem;
        font-weight: normal;
        line-height: 1.3;
    }
    &__call-to-action {
        margin-top: 40px;
    }
    &__icon {
        border-radius: 50%;
        height: 72px;
        margin: 0 auto;
        margin-bottom: 30px;
        overflow: hidden;
        width: 72px;

        img {
            width: 100%;
        }
    }
}

.global-signup {
    // background: $lighter-gray;
    padding: 150px 0;
    text-align: center;
    
    &__primary-title {
        color: $dark-blue;
        font-family: $bold-font;
        font-size: 3.6rem;
        margin-top: 0;
    }
    &__secondary-title {
        line-height: 1.6;
        font-size: 1.8rem;
        font-weight: normal;
        margin-bottom: 30px;
        color: $stack-gray;
    }
    &__call-to-action {}
    &__button {
        display: inline-block;
        margin: 0 5px;
    }
    &--dark {
        background: $dark-blue;
        color: white;
        .global-signup__primary-title {
            color: $light-blue;
        }
    }
}
