.container--features {
    background-color: lighten($stack-gray, 52%);
    padding: 120px 0 90px;
}

.customers-section__message {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: normal;
}

.customers-section__primary-title {
    color: $dark-blue;
    font-family: $bold-font;
    font-size: 3.2rem;
}

.features-illustration {
    position: relative;
}

.feature-item {
    background-color: white;
    border-radius: $button-default-radius;
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, .08);
    margin: 10px;
    margin-bottom: 30px;
    padding: 30px 25px 25px;
    text-align: center;
    &__icon {
        border: 2px solid $green;
        border-radius: 50px;
        height: 40px;
        margin: 0 auto;
        width: 40px;
    }
    &__title {
        color: $dark-blue;
        font-size: 1.6rem;
        margin-bottom: 0;
        margin-top: 20px;
        small {
            color: $green;
        }
    }
    &__description {
        font-size: 1.3rem;
        line-height: 1.3;
        margin-bottom: 0;
        margin-top: 10px;
    }
    &--dark {
        background: lighten($dark-blue, 2%);
        .feature-item__title {
            color: white;
        }
    }
}

.home-section {
    position: relative;
    &--customers {
        padding: 30px 0 50px;
        position: relative;
    }
    &--customer-logos {
        background-color: $dark-blue;
        background-position: center;
        background-size: cover;
        height: 480px;
    }
    &__divider {
        background: darken($lighter-gray, 5%);
        height: 1px;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
    }
    &--features {}
    &__feature-items {
        margin: 50px 0;
    }
    &--intro {
        padding: 50px 0;
    }
    &__setup-steps {
        margin: 40px 0;
    }
}

.home-section-header {
    margin-bottom: 40px;
    margin-top: 80px;
    max-width: 100%;
    width: 600px;
    &--centered {
        margin: 0 auto;
        text-align: center;
    }
    &__primary-title {
        color: $dark-blue;
        font-family: $bold-font;
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.2;
        margin: 0;
    }
    &__secondary-title {
        font-size: 1.8rem;
        font-weight: normal;
        line-height: 1.6;
    }
}

.home-section-footer {
    margin-top: 50px;
    text-align: center;
    &--features {
        margin-top: 90px;
    }
}

.paystack-customers {
    &__logo {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: inline-block;
        height: 100px;
        line-height: 90px;
        margin-bottom: 0px;
        padding: 30px;
        padding-left: 0;
        width: 24%;
    }
    &__logo-img {
        height: 100%;
        object-fit: contain;
        object-position: center;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 100%;
    }
    &__logos {}
}

.setup-steps-container {
    margin-top: 30px;
}

.setup-step {
    position: relative;
    margin-bottom: 40px;
    margin-left: 20px;
    &::last-child {
        margin-bottom: 0;
    }
    &__number {
        left: -25px;
        position: absolute;
        top: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        span {
            background: $green;
            border-radius: 6px;
            display: block;
            height: 3px;
            margin-bottom: 2px;
            width: 14px;
        }
    }
    &__title {
        font-size: 1.6rem;
        margin: 0;
    }
    &__message {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-top: 5px;
    }
    &--list {
        margin-bottom: 12px;
    }
}
