/* MEDIA QUERIES ----------- */

$breakpoint-small: 600px;
$breakpoint-med-small: 750px;
$breakpoint-med: 980px;

// Mixin for these breakpoints
@mixin screen($size, $type: max, $pixels: 600) {

    @if $size == 'tiny' {
    @media screen and (max-width: 400px) {
        @content;
    }
  }

  @if $size == 'small' {
    @media screen and (max-width: $breakpoint-small) {
        @content;
    }
  }
  @if $size == 'med-small' {
    @media screen and (max-width: $breakpoint-med-small) {
        @content;
    }
  }

  @else if $size == 'med' {
    @media screen and (max-width: $breakpoint-med) {
        @content;
    }
  }

 @else if $size == 'large' {
    @media screen and (min-width: $breakpoint-med) {
        @content;
    }
  }

  @else if $size == 'custom' {
    @media screen and ($type + -width: $pixels + px) {
     @content;
    }
  }
}
