.global-dropdown-menu {
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,.15);
    box-shadow: 0px 10px 10px rgba(0,0,0,.15);
    padding-left: 0;
    left: 0;
    top: 100%;
    position: absolute;
    width: 180px;
    border-radius: $button-default-radius;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;

    .global-nav__item:hover &{
        opacity: 1;
        pointer-events: auto;
        top: 100%;
    }
}

.global-dropdown-menu__divider{
    height: 1px;
    width: 100%;
    opacity: 0;
    background-color: #ddd;
    transition: opacity .3s;
    transition-delay: 0s;
    
    .global-nav__item:hover &{
        opacity: 1;
        transition-delay: .2s;
    }
}

.global-dropdown-menu__item {
    // background-color: white;
    color: $dark-blue;   
    padding: 15px;
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity .3s, transform .45s, background-color .3s;

    .global-nav__item:hover &{
        opacity: 1;
        transform: translateY(0px);

        &:first-child{
            transition: opacity .3s, transform .3s, background-color .3s;
        }
    }

    &:hover{
        background-color: whitesmoke;
    }

    &:first-child{
        border-top-right-radius: $button-default-radius;
        border-top-left-radius: $button-default-radius;
    }

    &:last-child{
        border-bottom-right-radius: $button-default-radius; 
        border-bottom-left-radius: $button-default-radius; 
    }
}

.global-nav {
    height: 65px;
    left: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 10;

    &__item {
        color: white;
        display: inline-block;
        padding: 0 15px 15px;
        position: relative;

        &:last-child {
            padding-right: 0;
        }
    }

    &__left {
        float: left;
    }
    
    &__logo{
        display: inline-block;
        margin-top: 10px;
    }

    &__menu {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__right {
        float: right;
    }
}
