a{
	color: inherit;
	text-decoration: none;
}

html {
    font-size: 62.5%;

    @include screen(small) {
        font-size: 58%;
    }
}

body {
    color: $body-text-color;
    -webkit-font-smoothing: antialiased;
    font-family: $regular-font;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
    // color: #0e304b;
    color: #003767;
}

.font-thin {
    font-weight: 100;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}