// Colors
$cerulean-blue: #09a5db;
$gray: #aaaaaa;
$green: #3bb75e;
$lighter-gray: #828282;
$midnight-blue: #011b33;
$orange: #ffaa22;
// Buttons
$button-default-radius: 3px;
$button-height: 40px;
$button-height-lg: 50px;
$button-height-sm: 30px;