// Colors
$body-text-color: #576f7f;
$dark-blue: #011b33;
$gray: #aaaaaa;
$green: #3bb75e;
$light-blue: #09a5db;
$light-gray: #828282;
$lighter-gray: #f3f5f8;
$orange: #ffaa22;


// New Colors
$lighter-dark-blue: #151526;
$stack-gray: #727377; 
$stack-lighter-gray: #9fa0a4; 


// Buttons
$button-default-radius: 3px;
$button-height: 40px;
$button-height-lg: 50px;
$button-height-sm: 30px;
//Fonts
$bold-font: "Boing", sans-serif;
$regular-font: "Graphik", sans-serif;