.slide {
    top: 50%;
    color: white;
    float: left;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    width: 850px;
    z-index: 10;
    &--one,
    &--three {
        width: 550px;
    }
    &--three {
        display: none;
    }
    @include screen(med) {
        &--three {
            display: block;
        }
    }
    @include screen(small) {
        width: 280px;
    }
    &__box {
        background: #112E48;
        border-radius: 2px;
        box-shadow: 0px 14px 45px rgba(0, 0, 0, 0.18);
        height: 300px;
        margin: 0 auto;
        max-width: 100%;
        mix-blend-mode: normal;
        opacity: 1;
        overflow: hidden;
        position: relative;
        width: 520px;
    }
    &__box-content {
        left: 20px;
        max-width: 90%;
        opacity: 0;
        position: absolute;
        top: 40px;
        width: 260px;
    }
    &__icon {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    &__primary-title {
        color: $green;
        font-size: 2.2rem;
        font-weight: normal;
        line-height: 1.2;
        margin: 0;
    }
    &__secondary-title {
        color: white;
        font-size: 1.8rem;
        font-weight: normal;
        line-height: 1.3;
        margin: 10px 0;
    }
    &__footer {
        bottom: -50px;
        left: 0;
        margin: 50px auto 0;
        position: absolute;
        right: 0;
        text-align: center;
        width: 400px;
    }
    &__logo-box {
        background: #011b33;
        border-radius: 50%;
        box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.1);
        height: 80px;
        left: 0;
        margin: 0 auto 30px;
        right: 0;
        text-align: center;
        width: 80px;
        img {
            margin-top: 25px;
            width: 30px;
        }
    }
    &__lines {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.slide__line {
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    &--horizontal {
        left: 0;
        height: 1px;
        width: 100%;
        &:nth-child(1) {
            -webkit-animation: line-in-left 4s ease-in-out infinite;
            animation: line-in-left 4s ease-in-out infinite;
            top: 40%;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
        &:nth-child(2) {
            -webkit-animation: line-in-right 6s ease-in-out infinite;
            animation: line-in-right 6s ease-in-out infinite;
            top: 65%;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
    }
    &--vertical {
        height: 100%;
        top: 0;
        width: 1px;
        &:nth-child(3) {
            -webkit-animation: line-in-down 4s ease-in-out infinite;
            animation: line-in-down 4s ease-in-out infinite;
            left: 30%;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        &:nth-child(4) {
            -webkit-animation: line-in-up 5s ease-in-out infinite;
            animation: line-in-up 5s ease-in-out infinite;
            left: 75%;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }
    }
}

.slide__box-content--centered {
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    top: 50px;
    width: 350px;
}

@include keyframes(line-in-left) {
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@include keyframes(line-in-right) {
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@include keyframes(line-in-up) {
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@include keyframes(line-in-down) {
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
