.stack-animation {
    bottom: 0;
    left: 30px;
    position: absolute;
    width: 100px;
    &__column {
        float: left;
        padding: 0 5px 0 0;
        position: relative;
        width: 50%;
    }
    &__box {
        background: $green;
        border-radius: 3px;
        height: 4px;
        margin-bottom: 5px;
        width: 100%;
        &--clear {
            background: none;
            border-color: transparent;
        }
    }
}

.stack-animation__dashboard {
    .stack-animation__box {
        bottom: -40px;
        float: left;
        margin-right: 10px;
        position: absolute;
        width: 4px;
        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                left: #{10 * $i}px;
                height: random(20) + 60 + px;
            }
        }
    }
    &.stack-animation--full-page {
        height: 50px;
        overflow: hidden;
        .stack-animation__box {
            bottom: 0;
            @for $i from 1 through 8 {
                &:nth-child(#{$i}) {
                    height: random(30) + 20 + px;
                }
            }
        }
    }
}

.stack-animation__developers {
    padding: 0 20px;
    bottom: 20px;
    .stack-animation__divider {
        background: $green;
        border-radius: 3px;
        height: 50px;
        left: 0;
        margin: 0 auto;
        opacity: 0;
        position: absolute;
        right: 0;
        top: -14px;
        -webkit-transform: translateX(-2px) rotate(20deg);
        transform: translateX(-2px) rotate(20deg);
        width: 4px;
    }
    &.stack-animation--full-page {
        top: auto;
        bottom: 10px;
    }
}

.stack-animation--full-page {
    bottom: auto;
    top: 50%;
    left: auto;
    right: 0;
    transform: translateY(-50%);
    @include screen(small) {
        display: none
    }
}
