.hero-section {
    &--features {
        height: 500px;
        .hero-section__content {
            bottom: auto;
            top: 35%;
            width: 400px;
        }
    }
}

.features-list-section {
    background: lighten($light-gray, 40%);
    margin-top: -50px;
    padding-bottom: 50px;
}

$features: 4;
.feature-card {
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
    color: $dark-blue;
    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.175);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.175);
    z-index: 2;
    &:before {
        background-image: url('../images/lines/left-corner.svg');
        background-repeat: no-repeat;
        background-size: 70% auto;
        content: "";
        height: 500px;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 400px;
        z-index: -1;
    }
    &__text {
        padding: 50px 50px 25px;
        @include screen(small) {
            padding: 40px 30px 10px;
        }
    }
    &__name {
        font-family: $bold-font;
        font-size: 3rem;
        margin: 0;
        -webkit-transition: all 300ms;
        transition: all 300ms;
        @include screen(small) {
            font-size: 3rem;
        }
    }
    &__description {
        font-size: 18px;
        font-weight: normal;
        margin-top: 10px;
        -webkit-transition: all 300ms;
        transition: all 300ms;
    }
    &__icon {
        height: 100%;
        width: 70%;
    }
    &__call-to-action {
        padding: 30px 50px;
        position: relative;
        @include screen(small) {
            padding: 20px;
        }
    }
}


/* ==================================
Styles for a single feature page
===================================== */

.feature-header {
    background: $dark-blue;
    background-image: url(../images/landing/background.svg);
    background-size: cover;
    padding: 150px 0 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    &__primary-title {
        color: $green;
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
        vertical-align: baseline;
    }
    &__secondary-title {
        color: rgb(93, 124, 152);
        font-weight: normal;
        margin: 5px 0 0;
        max-width: 400px;
    }
}

$feature-nav-height: 60px;
.feature-nav {
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.1);
    display: none;
    font-family: $bold-font;
    height: $feature-nav-height;
    position: relative;
    text-align: center;
    z-index: 10;
}

.feature-nav-menu {
    &__item {
        font-size: 1.2rem;
        float: left;
        letter-spacing: 1px;
        line-height: $feature-nav-height;
        margin-right: 50px;
        text-transform: uppercase;
    }
    &__item--action {
        color: $green;
        font-weight: bold;
        float: right;
        margin-left: 50px;
        margin-right: 0;
    }
}

.feature-section {
    position: relative;
    &--light {
        background: #FAFAFA;
    }
    &--dark {
        background: $dark-blue;
        color: #c4f0ff;
    }
    &--has-padding {
        padding: 100px 0;
        @include screen(small) {
            padding: 50px 0;
        }
    }
    &--hide-overflow {
        overflow: hidden;
    }
    &--has-divider {
        padding-bottom: 100px;
    }
    &__content {
        margin-top: 3.5em;
    }
    &__call-to-action {
        margin-top: 3.5em;
    }
    &__divider {
        background: darken($lighter-gray, 5%);
        height: 1px;
        margin-bottom: 100px;
        width: 100%;
    }
}

.feature-section-illustration {
    @include screen(small) {
        display: none;
    }
    &--multicurrency {
        position: absolute;
        right: 20px;
        top: -50px;
        img {
            height: 250px;
        }
    }
    &--create-plan {
        left: 20%;
        position: absolute;
        top: 0;
        transition: opacity 300ms;
        img {
            width: 500px;
        }
    }
    &--new-transfer {
        opacity: 0.8;
        margin-top: -20px;
        img {
            width: 70%;
        }
    }
    &--whitelist {
        left: 30%;
        position: absolute;
        opacity: 0.5;
        top: -50px;
        transition: opacity 300ms;
        img {
            width: 700px;
        }
    }
    &--background {
        position: absolute;
        overflow: hidden;
        top: -100px;
        bottom: -100px;
    }
}

.feature-section-header {
    position: relative;
    &--padded {
        padding-bottom: 100px;
        @include screen(small) {
            padding-bottom: 50px;
        }
    }
    &__label {
        font-family: $bold-font;
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;
    }
    &__primary-title {
        font-size: 2.4rem;
        font-weight: normal;
        line-height: 1.3;
        margin: 1.75em 0 0;
    }
    &__secondary-title {
        font-size: 1.8rem;
        font-weight: normal;
        line-height: 1.5;
    }
    .feature-section--dark & {
        &__label {
            color: $light-blue;
        }
        &__primary-title {
            color: white;
        }
    }
    &--title-only {
        .feature-section-header__primary-title {
            margin-top: 0;
        }
    }
}

.breakdown-card-group {
    margin-top: 30px;
}

.breakdown-card {
    padding: 0 20px 0 0;
    &--spaced {
        padding: 0 20px 20px 0;
    }
    &--padded {
        padding: 30px 50px 0;
    }
    &__icon {
        margin: 0;
    }
    &--no-padding {
        padding: 0;
    }
    &--inline {
        display: flex;
        .breakdown-card__icon {
            padding-top: 10px;
            margin-right: 20px;
        }
        .breakdown-card__content {
            h3 {
                margin-bottom: 0;
            }
            p {
                margin-top: 5px;
            }
        }
    }
    @include screen(small) {
        padding: 20px 30px;
        text-align: center;
        &--inline {
            text-align: left;
        }
    }
}
